  <div class="row">
    <div class="col-md-6">
      <!-- Lista de productos -->
      <h2> Lista de productos</h2>
      <div class="overflow-auto" style="max-height: 700px;">
      <table class="table">
        <!-- Código para mostrar la lista de productos -->
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let articulo of listaarticulos">
              <div class="row align-items-center">
                <div class="col-2">
                  <img [src]="articulo.imagen" alt="Imagen" class="img-fluid" [style.width.px]="200" [style.height.px]="200">
                </div>
                <div class="col-8">
                  <h3 class="mb-1">{{ articulo.descripcion }}</h3>
                  <p class="mb-1">Código: {{ articulo.codigo }}</p>
                  <p class="mb-1">Precio: {{ articulo.precio | currency:'USD' }}</p>
                  <p class="mb-1">Stock: {{ articulo.stock }}</p>
                  <p class="mb-1">Fecha: {{ articulo.fecha | date }}</p>
                </div>
                <div class="col-2 text-right">
                  <button (click)="agregarcarrito(articulo)" class="btn btn-primary">Agregar al carrito</button>
                </div>
              </div>
            </li>
          </ul>
      </table>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Carrito -->
      <h2>Carrito</h2>
      <div class="overflow-auto" style="max-height: 700px;">
      <table class="table">
        <!-- Código para mostrar el carrito -->
        <table class="table">
            <thead>
              <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of carrito let i=index">
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.precio |currency:'USD'}}</td>
                <td><button  class="btn btn-danger" (click)="quitaritem(i)">eliminar</button> </td>
              </tr>
            </tbody>
          </table>

      </table>

      <p>Total del carrito: {{ calcularTotal() | currency:'USD' }}</p>
            <div class="text-right">
              <button routerLink="/clientes" (click)="pagar()" class="btn btn-primary">Pagar</button>
            </div>           
      </div>
    </div>
  </div>
  
  